#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.blogs-section {
  display: flex;
  flex-direction: column;
}

.blog-card {
  padding: 2em;
  box-shadow: 0 0 1em #0003;
  border-radius: 1em;
  margin: 1em;
  display: inline-block;
  text-align: left;
  max-width: 20em;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
}

.read-the-docs {
  color: #888;
}

