#root {
  max-width: 32rem;
  width: 100%;
  margin: auto;

  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
}

nav .home-button {
  background-color: mediumslateblue;
}

nav .my-blogs-button {
  background-color: mediumseagreen;
}

.create-blog-button {
  background-color: mediumseagreen;
}

.delete-button {
  background-color: tomato;
}

.error-message {
  color: tomato
}

.success-message {
  color: palegreen;
}

.blogs-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.blog-card {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  box-shadow: 0 0 1em #0003;
  border-radius: 1em;
  display: inline-block;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  margin-bottom: 1rem;
}

.read-the-docs {
  color: #888;
}

